[submodule "OrbbecSDK_ROS2"]
    path = /home/meteor/ROS2/MickRobot/Graduation_project_ws/src/OrbbecSDK_ROS2
    url = https://github.com/orbbec/OrbbecSDK_ROS2.git

[submodule "ranger_ros2"]
    path = /home/meteor/ROS2/MickRobot/Graduation_project_ws/src/ranger_ros2
    url = https://github.com/agilexrobotics/ranger_ros2.git

[submodule "ugv_sdk"]
    path = /home/meteor/ROS2/MickRobot/Graduation_project_ws/src/ugv_sdk
    url = https://github.com/agilexrobotics/ugv_sdk.git


