[submodule "src/OrbbecSDK_ROS2"]
    path = src/OrbbecSDK_ROS2
    url = https://github.com/orbbec/OrbbecSDK_ROS2.git

[submodule "src/ranger_ros2"]
    path = src/ranger_ros2
    url = https://github.com/agilexrobotics/ranger_ros2.git

[submodule "src/ugv_sdk"]
    path = src/ugv_sdk
    url = https://github.com/agilexrobotics/ugv_sdk.git


